<div class="panel panel-default shadow rounded ">
  <div class="panel-body pointerCursor">
    <div class="row">

      <!-- <div>
        <div class="col-xs-3 col-sm-4 col-md-3">
          <img class="imageClass" [src]="employee.photoPath" />
        </div>

        <div class="col-xs-9 col-sm-8 col-md-9">
          <div class="row textheader">
            <div class="text">
              {{employee.name}}
            </div>
          </div>
          <div class="row title">
            <div class="text ">
              {{employee.team}}
            </div>
          </div>
          <div class="row role">
            <div class="text ">
              {{employee.role}}
            </div>
          </div>
        </div>

      </div> -->


      <img class="imageClass pull-left img-spacing" [src]="employee.photoPath" />

      <div class="col-xs-8">
        <div class="row textheader">
          <div class="text">
            {{employee.name}}
          </div>
        </div>
        <div class="row title">
          <div class="text ">
            {{employee.team}}
          </div>
        </div>
        <div class="row role">
          <div class="text ">
            {{employee.role}}
          </div>
        </div>
      </div>




    </div>
  </div>
</div>