<div class="panel panel-default shadow rounded ">
  <div class="panel-body pointerCursor">
    <div class="row">

      <div>
        <div class="col-sm-2 ">
          <img class="imageClass" [src]="employee.photoPath" />
        </div>

        <div class="col-sm-4 ">
          <div class="row textheader">
            <div class="col-sm-4  text">
              {{employee.name}}
            </div>
          </div>
          <div class="row title">
            <div class="col-sm-4 text ">
              {{employee.team}}
            </div>
          </div>
          <div class="row role">
            <div class="col-sm-4  text ">
              {{employee.role}}
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>